 <body class="wotbody">
<h1 class="wottitle">Wall of Tweets - RoR Edition</h1>
<br/>

<div class="walltweet">
<form action="/tweets" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="SYOMa4udDV173VRKKX0QDids+Po7krwXrUHG9kte79K+LSFOJzU9IhBl4tDzK1f9/Hb1zRFsZHuQ5kcPSAvfTg==" />
<table border=0 cellpadding=2>
<tr><td>Your name:</td><td><input size="70" type="text" name="tweet[author]" id="tweet_author" /></td><td/></tr>
<tr><td>Your tweet:</td><td><textarea rows="2" cols="70" name="tweet[content]" id="tweet_content">
</textarea></td>
<td><input type="submit" name="commit" value="Tweet!" data-disable-with="Tweet!" /></td></tr>
</table>
</form></div>
<%if notice != nil%>
        <div class="wotitem" id="notice">
          <%= notice %>
        </div>
<%end%>
<%if alert != nil%>
    <div class="wotitem" id="alert">
      <% if alert.kind_of?(Array) %>
        <% @n = alert.size %>
        <% for i in 0..@n %>
          <%= alert[i] %>
          <% if i < @n-2 %>
            ,
          <% elsif i == @n-2 %>
            and
          <% end %>
        <% end %>
      <% else %>
        <%= alert %>
      <%end%>
    </div>
<%end%>

   
    <% @data = nil %> 
    <% @tweets.each do |tweet| %>
      <tr>
        <% if @data != tweet.created_at.strftime("%d/%m/%Y") %>
          <% @data = tweet.created_at.strftime("%d/%m/%Y") %>
          <br><h3>...... <%= @data %></h3>
        <% end %>
        <div class="wotitem" id="<%= tweet.id %>">
    <div class="likes">
    <span class="numlikes" id='showLikes_<%= tweet.id %>'><%= tweet.likes%></span><br/><span class="smallfont">people like this<span><br/>
    <h3><a rel="nofollow" data-method="put" href="/tweets/<%= tweet.id %>/like">like</a></h3>
    </div>
    <div class="item">
    <h4><em><%= tweet.author %></em> @ <%= tweet.created_at.strftime("%H:%M") %></h4>
    <p><%= tweet.content %></p>
    <p style="text-align: right;"><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/tweets/<%= tweet.id %>" >Destroy</a></p>
    </div>
  </div>
      </tr>
    <% end %>
  </body>